@model Hospital.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between">
            <h5 class="mb-0">Delete Appointment</h5>

            <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Hospitalis</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Appointments">Appointments</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Delete Appointment</li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="mt-4">
                <div class="card border-0 p-4 rounded shadow">
                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.User)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.User.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Doctor)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Doctor.User.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Issue)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Issue.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Issue.Fee)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Issue.Fee)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Time)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Time)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>